
			{
				name = Fullwidth;
				coverage = (
					comma-han,
					period-han,
					dittomark,
					anglebracketleft,
					anglebracketright,
					dblanglebracketleft,
					dblanglebracketright,
					cornerbracketleft,
					cornerbracketright,
					whitecornerbracketleft,
					whitecornerbracketright,
					blacklenticularbracketleft,
					blacklenticularbracketright,
					tortoiseshellbracketleft,
					tortoiseshellbracketright,
					whitelenticularbracketleft,
					whitelenticularbracketright,
					wavedash,
					exclam.full,
					quotedbl.full,
					numbersign.full,
					percent.full,
					ampersand.full,
					quotesingle.full,
					parenleft.full,
					parenright.full,
					asterisk.full,
					comma.full,
					hyphen.full,
					period.full,
					slash.full,
					colon.full,
					semicolon.full,
					question.full,
					at.full,
					bracketleft.full,
					backslash.full,
					bracketright.full,
					underscore.full,
					braceleft.full,
					braceright.full,
				);
			},
